<ion-modal [isOpen]="showInbox()">
  <ng-template>
    <ion-header>
      <app-header title="Notifications"
        [showBackButton]="true"
        (backEvent)="backEvent.emit()"></app-header>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        @for (card of contentCards(); track card.id) {
          <div @itemAnimation>
            <app-mm-card [title]="card.title || 'Inbox Message'"
              [smallTitle]="true"
              [showCloseButton]="true"
              (closeEvent)="dismissCard(card)">
              <p class="m-b-2">{{ card.cardDescription }}</p>
            </app-mm-card>
          </div>
        }
      </ion-list>
      @if (contentCards().length === 0) {
        <h1>No messages</h1>
      }
    </ion-content>
  </ng-template>
</ion-modal>

<ion-alert [isOpen]="showDismissConfirmation()"
  header="Delete Message"
  message="Are you sure you want to delete this message?"
  [buttons]="confirmationActions"
  (didDismiss)="cancelDismissCard()">
</ion-alert>
